In [9]:
import pandas as pd
import numpy as np
from pathlib import Path
import re

RESULTADO_DIR = Path(r"E:\proyecto_agric_precision\Dataset de Imagenes\ortomosaicos_canales\resultado")
OUT9 = RESULTADO_DIR / "PASO_09_temporal_3fechas_obsUnitId"
DATA_WIDE = OUT9 / "dataset_wide_3dates.csv"

MEAS_DIR = Path(r"E:\proyecto_agric_precision\Dataset de Imagenes\ortomosaicos_canales\measurements")
YIELD_FILE = MEAS_DIR / "Solynta_field_2025_GT_yield.csv"
ADD_FILE = MEAS_DIR / "Solynta_field_2025_GT_additional.csv"  # opcional

df_wide = pd.read_csv(DATA_WIDE)

print("✅ features wide:", df_wide.shape)
print("✅ yield exists:", YIELD_FILE.exists(), YIELD_FILE)
print("✅ additional exists:", ADD_FILE.exists(), ADD_FILE)
df_wide.head()

✅ features wide: (202, 23)
✅ yield exists: True E:\proyecto_agric_precision\Dataset de Imagenes\ortomosaicos_canales\measurements\Solynta_field_2025_GT_yield.csv
✅ additional exists: False E:\proyecto_agric_precision\Dataset de Imagenes\ortomosaicos_canales\measurements\Solynta_field_2025_GT_additional.csv

,plot_id,obsUnitId,CHLGR_mean_20251002,CHLGR_mean_20251103,CHLGR_mean_20251210,MARI_mean_20251002,MARI_mean_20251103,MARI_mean_20251210,NDVI_mean_20251002,NDVI_mean_20251103,...,OSAVI_mean_20251210,SAVI2_mean_20251002,SAVI2_mean_20251103,SAVI2_mean_20251210,SR_mean_20251002,SR_mean_20251103,SR_mean_20251210,VF_20251002,VF_20251103,VF_20251210
0,1,1,4.458802,5.138012,2.853492,5.038614,7.177726,4.443617,0.876604,0.886830,...,0.544906,0.004765,0.003900,3.851346e-03,15.362690,17.003988,6.728218,0.234843,0.346904,0.091534
1,2,2,5.206114,4.734136,3.428803,6.521187,5.317302,3.839409,0.899277,0.852209,...,0.611442,0.004385,0.004334,4.959710e-03,19.509604,12.621037,9.198384,0.156293,0.345024,0.096375
2,3,3,5.469518,6.041914,3.069994,5.774983,7.422002,27505.001953,0.891328,0.844865,...,0.000487,0.005210,0.004433,6.130523e-07,17.635601,11.901986,8.733396,0.211330,0.317738,0.134983
3,4,4,5.090737,2.946303,2.614598,5.251598,2.873740,24947.978516,0.883821,0.688718,...,0.000439,0.005356,0.004439,5.749103e-07,16.541691,5.425055,6.849193,0.158639,0.111688,0.095709
4,5,5,4.791890,6.231022,3.508522,4.923483,7.333121,37030.667969,0.873134,0.807354,...,0.000425,0.005298,0.004632,5.173079e-07,15.007159,9.394213,9.851377,0.216232,0.382168,0.121769

In [10]:
y = pd.read_csv(YIELD_FILE)
print("✅ yield cargado:", y.shape)
print("Columnas yield:", list(y.columns))
display(y.head())

✅ yield cargado: (202, 22)
Columnas yield: ['collectionDate', 'obsUnitId', 'infraspecificName', 'plant_density_plantsm-2', 'tubwght_total_kgm-2', 'tubcnt_total_m-2', 'tubwght_0_28_kgm-2', 'tubwght_28_35_kgm-2', 'tubwght_35_40_kgm-2', 'tubwght_40_50_kgm-2', 'tubwght_50_60_kgm-2', 'tubwght_60_70_kgm-2', 'tubwght_70up_kgm-2', 'tubcnt_0_28_m-2', 'tubcnt_28_35_m-2', 'tubcnt_35_40_m-2', 'tubcnt_40_50_m-2', 'tubcnt_50_60_m-2', 'tubcnt_60_70_m-2', 'tubcnt_70up_m-2', 'drymatter_content_potatoes%', 'emerged_plants_m-2']

,collectionDate,obsUnitId,infraspecificName,plant_density_plantsm-2,tubwght_total_kgm-2,tubcnt_total_m-2,tubwght_0_28_kgm-2,tubwght_28_35_kgm-2,tubwght_35_40_kgm-2,tubwght_40_50_kgm-2,...,tubwght_70up_kgm-2,tubcnt_0_28_m-2,tubcnt_28_35_m-2,tubcnt_35_40_m-2,tubcnt_40_50_m-2,tubcnt_50_60_m-2,tubcnt_60_70_m-2,tubcnt_70up_m-2,drymatter_content_potatoes%,emerged_plants_m-2
0,2022-08-18,2025_F1P1,hybrid67,5.333333,3.286667,101.000000,0.211230,0.891983,0.958127,1.097116,...,0.0,19.333333,38.666667,24.000000,17.666667,1.333333,0.000000,0.0,22.46766,5.333333
1,2022-08-18,2025_F1P2,hybrid55,3.000000,4.936296,154.666667,0.443757,1.604831,1.206070,1.463720,...,0.0,32.592593,67.555556,29.629630,23.111111,1.777778,0.000000,0.0,22.27138,3.000000
2,2022-08-18,2025_F1P3,hybrid10,5.333333,2.993333,80.000000,0.124323,0.475587,0.710274,1.623751,...,0.0,11.666667,21.333333,18.666667,27.666667,0.666667,0.000000,0.0,21.97695,5.333333
3,2022-08-18,2025_F1P4,hybrid77,4.333333,2.379487,50.051282,0.063410,0.252348,0.392564,1.252148,...,0.0,6.153846,11.487179,10.256410,18.871795,2.871795,0.410256,0.0,18.83638,4.333333
4,2022-08-18,2025_F1P5,hybrid74,4.000000,4.164444,108.888889,0.196038,0.718133,1.074776,1.704167,...,0.0,17.333333,32.888889,28.000000,26.666667,4.000000,0.000000,0.0,19.17988,4.000000

In [11]:
def pick_col(cols, patterns):
    for pat in patterns:
        for c in cols:
            if re.search(pat, str(c), re.IGNORECASE):
                return c
    return None

id_col = pick_col(y.columns, [r"plot_id", r"plot", r"obsunitid", r"obsUnitId", r"^id$", r"unit"])
yield_col = pick_col(y.columns, [r"yield", r"rend", r"cosech", r"produ", r"kg", r"t/ha"])

print("Detectado id_col:", id_col)
print("Detectado yield_col:", yield_col)

if id_col is None or yield_col is None:
    raise ValueError("No pude detectar ID o YIELD. Pega aquí las columnas del CSV y lo ajusto.")

y2 = y[[id_col, yield_col]].copy()
y2 = y2.rename(columns={id_col: "id_raw", yield_col: "yield"})
y2["yield"] = pd.to_numeric(y2["yield"], errors="coerce")

# extraer plot_id numérico si el id viene como texto tipo 'plot_12'
def extract_plot_id(val):
    if pd.isna(val): 
        return np.nan
    m = re.search(r"(\d+)", str(val))
    return int(m.group(1)) if m else np.nan

y2["plot_id"] = y2["id_raw"].apply(extract_plot_id)
y2["obsUnitId"] = y2["id_raw"].astype(str)

y2 = y2.dropna(subset=["yield"])
print("✅ y2 limpio:", y2.shape)
display(y2.head())

Detectado id_col: obsUnitId
Detectado yield_col: tubwght_total_kgm-2
✅ y2 limpio: (202, 4)

      id_raw     yield  plot_id  obsUnitId
0  2025_F1P1  3.286667     2025  2025_F1P1
1  2025_F1P2  4.936296     2025  2025_F1P2
2  2025_F1P3  2.993333     2025  2025_F1P3
3  2025_F1P4  2.379487     2025  2025_F1P4
4  2025_F1P5  4.164444     2025  2025_F1P5

In [12]:
use_plot = y2["plot_id"].notna().mean() > 0.5
print("¿Yield trae plot_id usable?:", use_plot)

if (not use_plot) and ADD_FILE.exists():
    add = pd.read_csv(ADD_FILE)
    print("✅ additional cargado:", add.shape)
    print("Columnas additional:", list(add.columns))
    display(add.head())

    # intenta detectar columnas en additional
    add_id = pick_col(add.columns, [r"obsunitid", r"obsUnitId", r"^id$", r"unit"])
    add_plot = pick_col(add.columns, [r"plot_id", r"plot"])

    print("Detectado add_id:", add_id)
    print("Detectado add_plot:", add_plot)

    if add_id and add_plot:
        add2 = add[[add_id, add_plot]].copy().rename(columns={add_id: "obsUnitId", add_plot: "plot_id"})
        add2["obsUnitId"] = add2["obsUnitId"].astype(str)
        add2["plot_id"] = pd.to_numeric(add2["plot_id"], errors="coerce")

        y2 = y2.merge(add2, on="obsUnitId", how="left", suffixes=("","_mapped"))
        # si plot_id venía vacío, usa el mapeado
        y2["plot_id"] = y2["plot_id"].fillna(y2.get("plot_id_mapped"))
        use_plot = y2["plot_id"].notna().mean() > 0.5

        print("✅ Tras mapear, ¿plot_id usable?:", use_plot)
    else:
        print("⚠️ additional no tiene columnas claras para mapear.")

¿Yield trae plot_id usable?: True

In [13]:
OUT10 = RESULTADO_DIR / "PASO_10_yield_2025"
OUT10.mkdir(parents=True, exist_ok=True)

if use_plot:
    yield_by = (y2.dropna(subset=["plot_id"])
                .groupby("plot_id")["yield"]
                .mean()
                .reset_index()
                .sort_values("plot_id"))
    join_key = "plot_id"
else:
    yield_by = (y2.groupby("obsUnitId")["yield"]
                .mean()
                .reset_index()
                .sort_values("obsUnitId"))
    join_key = "obsUnitId"

out_yield = OUT10 / "yield_by_plot_2025.csv"
yield_by.to_csv(out_yield, index=False)

print("✅ Guardado:", out_yield)
print("✅ Join key para Paso 11:", join_key)
display(yield_by.head())

✅ Guardado: E:\proyecto_agric_precision\Dataset de Imagenes\ortomosaicos_canales\resultado\PASO_10_yield_2025\yield_by_plot_2025.csv
✅ Join key para Paso 11: plot_id

   plot_id     yield
0     2025  4.987148